{:builds {:cards {:asset-path "/js/workspaces"
                  :build-options {:ns-aliases {highlight highlight.js}}
                  :compiler-options {:global-goog-object&array true
                                     :output-feature-set :es7}
                  :devtools {:preloads [com.fulcrologic.fulcro.inspect.preload
                                        com.fulcrologic.fulcro.inspect.dom-picker-preload]}
                  :js-options {:resolve {"goog.debug.Logger.Level"
                                         {:target :global
                                          :global "goog.log.Logger.Level"}
                                         "highlight.js"
                                         {:target :npm
                                          :require "highlight.js/lib/core.js"}}}
                  :modules {:main {:entries [ogbe.fulcro.mui.workspaces.main]}}
                  :output-dir "resources/public/js/workspaces"
                  :target :browser}}
 :deps {:aliases [:dev]}
 :dev-http {3000 "classpath:public"}
 :nrepl {:port 9000}}
